# Deployment-specific defaults for conjunction
# Override the VP Space base URL if your environment differs.
VP_SPACE_BASE_URL=https://canfar.cam-preprod.uksrc.org/cavern/nodes/projects
POSIX_MAPPER_BASE_URL=https://canfar.cam-preprod.uksrc.org/posix-mapper
CONJUNCTION_CLIENT_ID=98277d32-3843-43b0-b1d0-165a00dc4b7f
